name: Publish
on:
  push:
    tags:
      - v[0-9]+\.[0-9]+\.[0-9](-[a-z]+\.[0-9]+)?+

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Publish package
        run: npx jsr publish --no-check
